/* .payment-info {
    background: blue;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold
}

.product-details {
    padding: 10px
}

.cart {
    background: #fff
}

.p-about {
    font-size: 12px
}

.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
    font-weight: 400;
    font-size: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300
}

label.radio input:checked+span {
    border-color: #fff;
    background-color: blue;
    color: #fff
}

.credit-inputs {
    background: rgb(102, 102, 221);
    color: #fff !important;
    border-color: rgb(102, 102, 221)
}

.credit-inputs::placeholder {
    color: #fff;
    font-size: 13px
}

.credit-card-label {
    font-size: 9px;
    font-weight: 300
}

.form-control.credit-inputs:focus {
    background: rgb(102, 102, 221);
    border: rgb(102, 102, 221)
}

.line {
    border-bottom: 1px solid rgb(102, 102, 221)
}

.information span {
    font-size: 12px;
    font-weight: 500
}

.information {
    margin-bottom: 5px
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08)
}

.spec {
    font-size: 11px
} */

.text{
    background-color: #fff;
}

div{
    display: block;
}

.conatainer{
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    position: relative;
}

.cart{
    margin-top: 30px!important;
}

.cart-info{
    margin-bottom: 20px!important;
}

.text>h1{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    margin-top: 16px;
    margin-bottom: 20px;
}

.items .header, .items .ln{
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.items .header{
    color: #8e8e93;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.items .header>div{
    display: table-cell;
    text-align: center;
}

.items .header>.item{
    text-align: left;
    width: 53.47%;
}

.items .header>.quantity{
    width: 10.315%;
}

.items .header>.unit-price, .items .header>.subtotal{
    width: 18.105%;
}

/* form{
    display: block;
    margin-top: 0em;
}

.items .product{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: #000 0 2px 5px 0 rgb(0 0 0 / 5%);
    margin: 8px 0;
}

.items .ln>div{
    padding: 10px 20px;
    display: table-cell;
    vertical-align: top;
}

.items .ln>.image{
    padding: 10px;
    vertical-align: top;
    width: 80%;
}

.items .ln>.image img{
    background-color: transparent;
    color: #000;
    text-decoration: none;
} */